{% load static %}

<div class="ui vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <p class="item" >电影线上看</p>
            <p class="item" >本网站所有电影信息来自互联网，本站不存储任何电影资源，如有侵权，请立即联系我删除</p>
            <a class="item" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=SCkrLWUuISQlCC4nMCUpISRmKycl" style="text-decoration:none;">给我写信</a>
        </div>
    </div>
</div>