{% load static %}

<div class="ui vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <a class="item" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=SDgpOzskISYtJSc_IS0ILicwJSkhJGYrJyU" style="text-decoration:none;">给我写信</a>
            <a class="item" href="#" target="_blank">公测非正式运行</a>
        </div>
    </div>
</div>