{% load static %}

<div class="ui vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <p class="item">及格线电影</p>
            <a class="item" href="https://mail.qq.com/cgi-bin/loginpage" target="_blank">邮箱: 2544781396@qq.com</a>
            <a class="item" href="#" target="_blank">京ICP证090287</a>
        </div>
    </div>
</div>