{% extends 'base/base.html' %}
{% load static %}
{% load video_tag %}
{% block css %}
<link href="{% static 'css/dropload.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="ui unstackable two column grid">
    <div class=" ten wide column">
        <video autoplay="autoplay" class="video" controls="controls" controlslist="nodownload" disablePictureInPicture>
            <source src="{{video.file.url}}" type="video/mp4">
        </video>
        <div class="video-info">
            <div class="video-title">{{ video.title }}</div>
            <div class="video-view-count">
                {{ video.view_count }}次观看
                {% if video.link %}
                    <a href="{{ video.link }}">点我看正片</a>
                {% endif %}
            </div>
            <div class="video-view-operation">{{video.desc}}</div>
            <div class="extra content video-view-operation">
                <span class="left floated like">
                    <i class="like {%  user_liked_class video user %} icon cursor" id="like" video-id="{{ video.id }}"></i>
                    <span id="like-count">{{ video.count_likers }}</span>
                </span>
            </div>
            <div class="ui divider"></div>
        </div>
    </div>
    <div class="six wide column">
        {% include "videos/recommend.html" %}
        {% include "videos/ad.html" %}
    </div>
</div>
{% endblock content %}

{% block javascript %}

<script>
var video_id = {{ video.id }}
</script>

<script src="{% static 'js/dropload.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>
{% endblock javascript %}
 
