{% extends 'base/base.html' %}
{% load static %}
{% load video_tag %}
{% block css %}
<link href="{% static 'css/dropload.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="ui unstackable two column grid">
    <div class=" ten wide column">
        <video autoplay="autoplay" class="video" controls="controls" controlslist="nodownload" disablePictureInPicture>
            <source src="{{video.file.url}}" type="video/mp4">
        </video>
        <div class="video-info">
            <span class="video-title">{{ video.title }}</span>
            <span class="video-view-count">{{ video.view_count }}次观看</span>
            <span class="float-right">
                    <i class="like {%  user_liked_class video user %} icon cursor" id="like" video-id="{{ video.id }}"></i>
                    <span id="like-count">{{ video.count_likers }}</span>
            </span>
            <div class="video-view-operation">{{video.desc}}</div>
            <div class="ui divider"></div>
        </div>

        <div class="ui comments">
            {% if user.is_authenticated %}
            <form class="ui reply form" id="comment_form" method="post" action="{% url 'comments:submit_comment' video.pk %}">
                {% csrf_token %}
                <div class="field">
                    {{form.content}}
                    <input type="hidden" value="{{ video.id }}" name="video_id">
                </div>
                <button class="ui primary button" type="submit">
                    添加评论
                </button>
                <div class="ui info message n">
                    <div class="item" id="comment-result"></div>
                </div>
            </form>
            {% else %}
            <div>
                <p><a href="{% url 'users:login' %}?next={{ request.path }}">登录</a>后即可评论</p>
            </div>
            {% endif %}
            <div class="comment-list"></div>
        </div>
    </div>
    <div class="six wide column">
        {% include "videos/recommend.html" %}
        {% include "videos/ad.html" %}
    </div>
</div>
{% endblock content %}

{% block javascript %}

<script>
var comments_url = "{% url 'comments:get_comments' %}"
var video_id = {{ video.id }}
</script>

<script src="{% static 'js/dropload.js' %}"></script>
<script src="{% static 'js/load_comments.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>
{% endblock javascript %}
 
