{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}
{% load video_tag %}

{% block content %}

<div class="classification">
    <a class="ui {% if c %}{% else %}red{% endif %} label" href="{% url 'home' %}">全部</a>
    {% for item in classification_list %}
    <a class="ui {% if c == item.id|stringformat:'s' %}red{% endif %} label" href="?c={{ item.id }}">{{ item.title }}</a>
    {% endfor %}
</div>

<div class="ui hidden divider"></div>
<div class="ui grid">
    {% for item in video_list %}
    <div class="four wide column">
        <div class="ui card">
            <a class="image" href="{% url 'videos:detail' item.pk %}">
                {% thumbnail item.cover "300x400" crop="center" as im %}
                <img class="ui image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}
            </a>
            <div class="content">
                <a class="header" href="{% url 'videos:detail' item.pk %}">{{ item.title }}</a>
                <div class="meta">
                    <span class="date">发布于{{ item.create_time|time_since}}</span>
                    <span class="float-right">{{ item.view_count}}次播放</span>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <h3>暂无数据</h3>
    {% endfor %}
</div>

{% include "base/page_nav.html" %}

{% include "base/footer.html" %}

{% endblock content %}