{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <title>登录</title>
    <link href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/semantic.custom.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="v-account-body">
<div class="ui middle aligned center aligned grid">
    <div class="column v-account">
        <h2 class="ui teal image header">
            <img class="image" src="{% static 'img/logo.png' %}">
            <div class="content">登录账户</div>
        </h2>
        <form action="{% url 'users:login' %}" class="ui large form" enctype="multipart/form-data" method="post"
              novalidate>
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{form.username}}
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{form.password}}
                    </div>
                </div>
                <input name="next" type="hidden" value="{{ next }}"/>
                <button class="ui fluid large teal submit button" type="submit">登录</button>
            </div>

            {% include "base/form_errors.html" %}

        </form>
            <span class="float-left"><a href="{% url 'users:signup' %}">注册账号</a></span>
            <span class="float-right"><a href="{% url 'users:reset_password' %}">忘记密码</a></span>
    </div>
</div>
</body>
</html>
