{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <title>重设密码</title>
    <link href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="v-account-body">
<div class="ui middle aligned center aligned grid">
    <div class="column v-account">
        <h2 class="ui teal image header">
            <img class="image" src="{% static 'img/logo.png' %}">
            <div class="content">重设密码</div>
        </h2>
        <form method="post" role="form">
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="sixteen wide inline field v-form-field">
                        <label>用户</label>
                        {{form.username}}
                    </div>
                </div>
                <div class="sixteen wide inline field v-form-field">
                    <label class="content">邮箱</label>
                    {{form.email}}
                </div>
                <button class="ui primary button" type="submit">发送邮件</button>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}" >{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
</body>
</html>
